# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
langchainRagPoc/
venv/
.env
.venv/

# Persistent/local data
data/vector_store/
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Editor files
.vscode/

# OS
.DS_Store
Thumbs.db